redis==5.0.0
SQLAlchemy==2.0.49
sqlalchemy-serializer==1.6.1
psycopg[binary,pool]==3.3.3
gevent==26.4.0
pyOpenSSL==23.3.0
tornado==6.4.0
uvloop==0.19.0
cachetools==5.3.3
pycryptodome==3.20.0
psutil==5.9.8
setproctitle==1.3.3
IP2Location==8.10.2
APScheduler==3.10.2
zstandard==0.25.0
requests==2.32.3
wheel
setuptools
lamda
dnspython
httpx[socks]
packaging
paho-mqtt
celery[amqp]==5.3.5
msgpack>=1.0.0
retry==0.9.2
pyinotify
pottery==3.0.1
Cython==3.0.10
pem==23.1.0