DOMAIN=pigeon.local

# CRITICAL: Changing these environment variables after deployment is not supported and may cause system failure.
# 严重警告：部署后严禁修改以下环境变量，任何更改都可能导致系统崩溃。
API_PORT=65000
WEB_PORT=8000
FWD_PORT=7000

# Set the initial credentials (randomly generated)
# 设置初始密码（随机生成）
REDIS_PASSWORD=9XdTBBn11m5ugEGUavmR4C
RABBITMQ_PASSWORD=6LVc53IVJcRpiDsY0CyLcN
POSTGRES_PASSWORD=P5FinxzLZToVzAaAIZvsIw

# Set the physical network subnet, gateway, and interface name of the current server's host.
# 设置当前服务器宿主机所在的物理网络子网、网关及网络接口名称。
LOCAL_LAN_SUBNET=192.168.50.0/24
LOCAL_LAN_GATEWAY=192.168.50.1
LOCAL_LAN_INTERFACE=enp7s0

# Set the local IP for this service. This is required if you are using macvlan/ipvlan to give
# the container an independent IP in your LAN. You must manually assign an unused IP from your subnet.
# If you are not using macvlan/ipvlan networks, set this to your host's local IP address
# and make sure to remove the 'lan-macvlan' network section from 'networks' and 'services.pigeon.networks' in your docker-compose.yml.
# 设置当前服务的本地 IP。如果使用 macvlan/ipvlan 为容器分配独立的局域网 IP，请在此手动指定一个未被占用的内网 IP。
# 如果不使用该网络模式，请将其设置为宿主机的局域网 IP，并从 docker-compose.yml 的 networks 以及 services.pigeon.networks 中移除 lan-macvlan 网络段。
LOCAL_LAN_IP=192.168.50.200

# Set the public IP address of the server. If not deploying on the public network,
# set it to the same value as LOCAL_LAN_IP; otherwise, provide your public IP (e.g., via `curl -4 ip.sb`).
# 设置当前服务器的公网 IP。如果不打算部署到公网，请将其设置为与 LOCAL_LAN_IP 相同的值；否则请填写公网 IP（可通过 curl -4 ip.sb 获取）。
PUBLIC_IP=192.168.50.200

# Obtained from deploying https://github.com/firerpa/hub-bridge
# If you do not plan to use P2P mode, simply keep it as currently commented out.
# 可以部署 https://github.com/firerpa/hub-bridge 来获得以下参数
# 如果不准备使用 P2P 模式，只需要保持当前注释状态即可

#TOP_ENDPOINT=http://47.116.4.4:9000
#TOP_CLIENT_KEY=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAqT7IJqfb+e7OZ3gL8/OQ9qMPXetoGW0kdr7kx+chZaBhj/0krdUiL+UVTuOWGWCdFXd03dBPpDSarK8AK0aYgkKQmeHZSDBfkZWKR4l3tqKP3H1ipS6n/gihMC+CTluoH55QhL+AtzRG3Gr6YhfzKdFw8A0biRylbtAegk0kLwErqeqN2LGxh074DKJYaQNtpEy8OodIaJKG56on9yS9W2TqHLcN8P6bYYrSqNP+FTql+xwDL9v6+FJR+s6rPbdBwkOnLcggqJqHnKwoof8QFwBi1OE2HLFqE2LMPV/THGNSVkMXxE2BEhLDwUTkblnOtQzlSYC61HyBQK3CRxKamQIDAQAB
#TOP_SECRET=49c98730-348e-4ec1-b2e0-bb0c9f22a310
